.carousel-caption{
	background: rgba(0,0,0,0.4);
}
.caption{
	font-size: 4vw;
	text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -11px 30px #ff8000, 0 -10px 60px #FF0000;
	font-weight: bold;
}
.row-produtos{
	align-items: center;
	 text-align: center;
}
.card{
	width: 16rem;
	margin:10px;
	align-items: center;
	text-align: center;
	box-shadow: 6px 6px 11px -1px #A3A1A1;
	transition: box-shadow 0.2s ease-out 0s;
}	
.card:hover{
box-shadow: -2px -2px 15px 0px #ABABAB;
transition: box-shadow 0.3s ease-in 0s;
}
.valor-card{
	font-weight: bold;
}
.card-body{
	width: 95%;
}
.btn-form-cadastro-produtos{
	margin-top: 8px;
}
.container-cadastro-produtos{
	display: none;
	margin-top: 10px;
	margin-bottom: 10px;
}
.alert-danger, .alert-success{
	display: none;
}