#img-logo{
	width: auto;
	height: auto;	
}
#img-logo:hover{
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    transition: 0.5s;
}
.active{
	text-shadow: rgba(0,0,0,0.56) 6px 7px 9px;
}
#logout{
    font-size: small
}
.bemvindo{
    background: rgb(224,224,224);
    background: linear-gradient(90deg, rgba(224,224,224,0.9416141456582633) 0%, rgba(252,252,252,1) 100%);
    border-radius: 10px;
    color: rgb(68, 68, 68);
}

